.index_header{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(224, 221, 221);
    [alt="logo"]{
        margin-top:20px;
        margin-left: 20px;   
        width: 190px;
    }
    [alt="top-advert"]{
        padding-top: 40px;
        width: 95%;
       margin-left: 15px;
    }
}