.about-us-main{
    .box{
        width: 100%;
    }
    img{
        width: 100%;
        transition: 0.3s all ease-in-out;
        &:hover{
        transition: 0.3s all ease-in-out;
        scale: 1.3;
        }
    }
    h4{
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .social-media-icons{
        color: gray;
        font-size: 14px;
        width: 20%;
        
    }
    .bottom-txt{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}
.join-our-team{
    text-align: center;
    position: relative;
    .background-join{
        padding-top: 50px;
        padding-bottom: 50px;
        height: 30vh;
        background: url(../images/cta.jpg) center/cover;
        background-attachment: fixed; 
        &::before{
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-color: rgba(0,0,0,0.5);
       }
    }
    .join{
        position: relative;
        color: #ffffff; 
        font-size: 30px;
    }
    .our{
        position: relative;
        color: rgb(182, 181, 181);
    }
    .team{
        position: relative;
    }
    .transparent_button{
        color: white;
        border: 2px solid white;
        font-weight: bold;
        transition: 0.3s all ease-in-out;
        &:hover{
            color: #ff0303;
            border: 2px solid #ff0303;
            transition: 0.3s all ease-in-out;
        }
    }
}

@media screen and (min-width:1000px){
    .history{
        display: flex;
        width: 100%;
    }
    .our-team{
        display: flex;
        justify-content: space-between;
        .team-member{
            width: 23%;
        }
        .social-media-icons{
            width: 40%;
            font-size: 12px;
        }
    }
    .join-our-team{
        .our{
            margin: 0 auto;
            margin-bottom: 50px;
        } 
    }
}